:root {
  --primary-color: #497bf0;
}

* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

/* .scrolled {
  background: rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: -1px 10px 19px -4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -1px 10px 19px -4px rgba(0, 0, 0, 0.55);
  box-shadow: -1px 10px 19px -4px rgba(0, 0, 0, 0.55);
  transition: all 0.5s ease-in-out;
} */

.section-space {
  padding: 5rem 0;
}

nav {
  transition: all 0.5s ease-in-out;
}

.navbar-nav li a.nav-link {
  color: #000 !important;
  font-weight: 200;
  transition: all 0.5s ease-in-out;
}

.navbar-nav li:hover a.nav-link {
  border-bottom: 1px solid var(--primary-color);
}

.navbar-brand {
  font-size: 1.2rem !important;
  font-weight: bold;
  letter-spacing: 0.4rem;
}

.navbar-toggler {
  border: none !important;
}

header {
  margin-top: 60px;
  padding: 180px 0;
}

.header-info span {
  display: inline-block;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 0.5rem 1.5rem;
  border-radius: 15px 15px 15px 0;
  color: #fff;
  margin-bottom: 1rem;
}

.header-info h1 {
  font-size: 3.5rem !important;
}

.img-frame {
  /* width: 70%;
  margin: auto; */
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.img-frame img {
  transform: translate(20px, 20px);

  -webkit-box-shadow: -8px 10px 20px -8px rgba(133, 129, 133, 1);
  -moz-box-shadow: -8px 10px 20px -8px rgba(133, 129, 133, 1);
  box-shadow: -8px 10px 20px -8px rgba(133, 129, 133, 1);
}

ul.social-icon li {
  list-style: none;
  margin: 0 5px 0 0;
}

ul.social-icon li i {
  padding: 5px 15px;
  color: #007;
}

ul.social-icon li i:hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: all 0.2s ease-in-out;
}

ul.tech-desc {
  list-style: none;
  padding-left: 0;
}
.tech-desc li {
  display: inline-block;
  margin: 7px;
}

.tech-desc li span {
  border: 1px solid var(--primary-color);
  padding: 4px 10px;
  border-radius: 4px;
}

.skill-container {
  margin-bottom: 0.5rem;
}
.skill-container img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

/* .project-img {
  display: block;
  height: 463px !important;
  object-fit: cover;
  object-position: center;
} */

/* .project-img-sm {
  height: 220px !important;
  object-fit: cover;
} */

.edu-work-card {
  border-radius: 7px;
  margin-bottom: 0.9rem !important;
}

/* .project-container {
  position: relative !important;
  overflow: hidden;
} */

/* .project-link {
  position: absolute !important;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--primary-color) !important;
  z-index: 2;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: translateX(-110%);
  transition: all 0.5s ease-in-out;
  margin: 0 15px;
} */

/* .project-container:hover .project-link {
  transform: translateX(0);
}

.project-wrapper {
  padding: 0 25px !important;
} */

/* .project-info {
  background: red;
  height: 6rem;
  margin-bottom: 120px !important;
} */

.project {
  /* width: 100%; */
  height: 300px !important;

  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;

  overflow: hidden;
  background: #c33764; /* fallback colour. Make sure this is just one solid colour. */
  /* background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url("img/project-1.jpeg"); */
}

.pro-1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url("img/pro-1.jpg"); /* The least supported option. */
}

.pro-2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url("img/pro-2.png"); /* The least supported option. */
}

.pro-3 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url("img/pro-3.jpeg"); /* The least supported option. */
}

.pro-4 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url("img/pro-4.jpg"); /* The least supported option. */
}

.project-inner {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.project:hover .project-inner {
  background: rgba(0, 0, 0, 0.4);
}

/* Project Catagory */
.pro-cat {
  border-width: 2px !important;
  font-weight: lighter;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

.project-inner button {
  color: #fff !important;
  display: inline-block !important;
}

.carousel-item img {
  object-fit: cover;
  height: 500px !important;
}

.contact-icon {
  padding: 3rem;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}

footer p {
  line-height: 75px;
}

/* Media Queries */
@media screen and (max-width: 576px) {
  .navbar-brand {
    font-size: 1rem !important;

    letter-spacing: 0.1rem;
  }

  header {
    padding: 60px 0;
  }

  .section-space {
    padding: 3rem 0;
  }

  ul.social-icon {
    justify-content: center;
  }

  .header-info span {
    text-align: start !important;
  }

  .header-info h1 {
    font-size: 2.5rem !important;
    margin-bottom: 0.9rem;
  }

  .about-img {
    display: none !important;
  }

  .about-desc {
    text-align: center;
  }

  .pr-heading {
    font-size: 1.2rem;
  }

  .pro-cat {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }

  .carousel-item img {
    height: 300px !important;
  }

  .modal-inner {
    width: 100% !important;
  }
}
